<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <util:constant id="fileCsv" static-field="ru.otus.spring.config.ConfigCSV.FILE_NAME_CSV"/>
    <bean id="questionDaoCSV" class="ru.otus.spring.dao.QuestionsDaoCSV">
        <property name="configCSV" ref="fileCsv"/>
    </bean>
    <bean id="consoleOutputController" class="ru.otus.spring.controller.ConsoleOutputController" />
    <bean id="questionServiceImpl" class="ru.otus.spring.service.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDaoCSV"/>
        <constructor-arg name="consoleOutput" ref="consoleOutputController"/>
    </bean>
</beans>
