<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Books </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th> Select </th>
                    <th> Title </th>
                    <th> Genre </th>
                    <th> Authors </th>
                    <th> Comments </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${booksDto.empty}">
                    <td colspan="2"> No Books Available </td>
                </tr>
                <tr th:each="bookDto : ${booksDto}">
                    <td>
                        <div class="form-check">
                            <input type="radio" name="bookId" th:value="${bookDto.id}" class="form-check-input">
                        </div>
                    </td>
                    <td><span th:text="${bookDto.title}"> Title </span></td>
                    <td><span th:if="${bookDto.genreDto != null}" th:text="${bookDto.genreDto.nameGenre}"> Genre </span></td>
                    <td>
                        <div th:each="authorDto, iterStat : ${bookDto.authorDtoList}">
                            <span th:text="${authorDto.name + ' ' + authorDto.surname + ', '}" th:if="${!iterStat.last}"> Author </span>
                            <span th:text="${authorDto.name + ' ' + authorDto.surname}" th:if="${iterStat.last}"> Author </span>
                        </div>
                    </td>
                    <td><a class="link-primary" href="#" th:href="@{/books/{id}/comments(id=${bookDto.id})}"> Comments </a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <a class="btn btn-success" href="#" th:href="@{/books/create}"> Add Book </a>
            <a class="btn btn-primary" href="#" onclick="editBook()"> Edit Books</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    function editBook() {
        var selectedBookId = $('input[name=bookId]:checked').val();
        if (selectedBookId) {
            window.location.href = '/books/edit' + selectedBookId;
        } else { event.preventDefault();
            alert('Please select a book.'); }
    }
</script>
</body>
</html>